* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 600;
}

:root{
    --bg: #14181c;
    --bg2: #1c222e;
    --blue: #1961b4;
    --fblue: #0e3868;
    --white:  #fff;
    --orange: #e67812;
    --gradient1: #5eade2fe;
    --gradient2: #4c75ce;
}

body {
    background-color: var(--bg);
}

main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: var(--orange);
    text-align: center;
}

.subtitle {
    color: var(--white);
    text-align: center;
}

#juegos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contJuegos {
    width: 192px;
    height: 108px;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px var(--bg2) solid;
    border-radius: 5px;
}

.contJuegos:hover {
    box-shadow: 0px 0px 5px 3px var(--blue);
}

.divJuego {
    background-repeat: no-repeat;
    background-size: cover;
}

#adivinaLetra {
    background-image: url(./img/adivinaLetra.png);
}

#coliseo1v1 {
    background-image: url(./img/coliseo.png);
}

#mazmorras {
    background-image: url(./img/mazmorras.png);
}