* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
}

:root{
    --bg: #17171d;
    --bg2: #35353e;
    --blue: #1961b4;
    --fblue: #0e3868;
    --white:  #fff;
    --orange: #e67812;
    --gradient1: #5eade2fe;
    --gradient2: #4c75ce;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
}

#coliseo {
    background-image: url(./img/campoBatalla.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 900px;
    height: 450px;
    border: 8px var(--bg2) solid;
    border-radius: 5px;
}

#cambiarPJ {
    position: absolute;
    margin-top: 70px;
    margin-left: 20px;
}

#pj1 {
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    position: absolute;
    margin-left: 50px;
    margin-top: 150px;
}

#bot {
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    position: absolute;
    margin-left: 600px;
    margin-top: 150px;
    transform: rotateY(180deg);
}

#stats1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#iconoHP1 {
    background-image: url(./img/vida.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

#iconoDMG1 {
    background-image: url(./img/daño.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.stats1 {
    color: white;
    font-size: 40px;
}

#stats2 {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px;
    margin-left: 580px;
    width: 300px;
}

#iconoHP2 {
    background-image: url(./img/vida.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

#iconoDMG2 {
    background-image: url(./img/daño.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.stats2 {
    color: white;
    font-size: 40px;
}

#habilidades {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 455px;
}

#comenzar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 455px;
}

.btnComenzar {
    height: 40px;
    width: 200px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border: 4px var(--bg2) solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
    background: linear-gradient(180deg, var(--gradient1), var(--gradient2));
}

.btnComenzar:hover {
    background: linear-gradient(180deg, var(--gradient2), var(--gradient1));
}

.btnHabilidad {
    height: 40px;
    width: 100px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border: 4px var(--bg2) solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
}

.btnAtc {
    background: linear-gradient(180deg, #dde31b 0%, #e3781b 30%, #9d0d0d 60%);
}

.btnAtc:hover {
    background: linear-gradient(180deg, #f9ff51 0%, #ff9d47 30%, #e22020 60%);
}

.btnDef {
    background: linear-gradient(180deg, #1be3a7 0%, #1be34d 30%, #12910e 60%);
}

.btnDef:hover {
    background: linear-gradient(180deg, #53ffcc 0%, #46ff74 30%, #22cb1c 60%);
}

.btnMed {
    background: linear-gradient(180deg, #931be3 0%, #781be3 30%, #380e91 60%);
}

.btnMed:hover {
    background: linear-gradient(180deg, #b341ff 0%, #9236fa 30%, #511ac7 60%);
}

#acciones {
    width: 900px;
    display: none;
    justify-content: space-around;
    position: absolute;
    margin-top: 60px;
}

.textoAccion {
    background-image: url(./img/explosion.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

#final {
    position: absolute;
    width: 900px;
    height: 450px;
    display: none;
    justify-content: center;
    align-items: center;
}

#victoria {
    width: 500px;
    height: 150px;
    background-color: green;
    border: 8px var(--bg2) solid;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}

#derrota {
    width: 500px;
    height: 150px;
    background-color: red;
    border: 8px var(--bg2) solid;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}

/* ELEGIR PERSONAJE */
#coliseoElegir {
    background-image: url(./img/campoBatalla.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 900px;
    height: 450px;
    border: 8px var(--bg2) solid;
    border-radius: 5px;
    display: none;
}

#elegirPJ {
    width: 900px;
    height: 450px;
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#iconCaballero {
    background-image: url(./img/iconoCaballero.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#iconIslamico {
    background-image: url(./img/iconoIslamico.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#iconZombie {
    background-image: url(./img/iconoZombie.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#iconEsqueleto {
    background-image: url(./img/iconoEsqueleto.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.icono {
    margin: 10px;
}

.iconoPJ {
    width: 120px;
    height: 120px;
    border-top: var(--bg2) 3px solid;
    border-left: var(--bg2) 3px solid;
    border-right: var(--bg2) 3px solid;
    color: var();
}

.botonPJ {
    color: white;
    height: 40px;
    width: 126px;
    font-size: 15px;
    background: linear-gradient(180deg, var(--gradient1), var(--gradient2));
    border: var(--bg2) 3px solid;
    cursor: pointer;
}

.botonPJ:hover {
    background: linear-gradient(180deg, var(--gradient2), var(--gradient1));
}

#usos {
    margin-top: 50px;
}

.boton {
    height: 40px;
    width: 300px;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
}

.boton:hover {
    background-color: #cfcfcf;
}

#back {
    background-color: var(--blue);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

#back:hover {
    background-color: var(--fblue);
}