* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
}

:root {
    --bg: #17171d;
    --bg2: #35353e;
    --bgMazmorra: #31231a;
    --blue: #1961b4;
    --fblue: #0e3868;
    --white: #fff;
    --orange: #e67812;
    --gradient1: #5eade2fe;
    --gradient2: #4c75ce;
}

body {
    background-color: var(--bg);
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cell {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -3px;
    background-color: var(--bgMazmorra);
}

#stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}

#items {
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    font-size: 25px;
    margin-top: 5px;
}

/* IMAGENES */
#imgCoin {
    background-image: url(./img/moneda.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

#imgVida {
    background-image: url(./img/curar.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

#llave {
    background-image: url(./img/llave.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    width: 30px;
    height: 30px;
}

#pocion {
    background-image: url(./img/curar.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    width: 30px;
    height: 30px;
}