* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
}

:root {
    --bg: #17171d;
    --bg2: #35353e;
    --bgMazmorra: #31231a;
    --blue: #1961b4;
    --fblue: #0e3868;
    --white: #fff;
    --orange: #e67812;
    --gradient1: #5eade2fe;
    --gradient2: #4c75ce;
}

body {
    background-color: var(--bg);
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#marco {
    background-image: url(./img/botones/marco.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 950px;
    height: 470px;
    margin-top: -10px;
    margin-left: -10px
}

.cell {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -4px;
    background-color: var(--bgMazmorra);
}

#stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}

.statsVida {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}

.statsCoin {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}

#items {
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

/* IMAGENES */
#imgCoin {
    background-image: url(./img/moneda.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

#imgVida {
    background-image: url(./img/curar.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

#llave {
    background-image: url(./img/llave.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    width: 30px;
    height: 30px;
}

#pocion {
    background-image: url(./img/curar.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    width: 30px;
    height: 30px;
}

.imgVida {
    background-image: url(./img/vida.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

/* BOTONES */

#contenidoDerrota {
    display: none;
    justify-content: center;
    align-items: center;
    width: 930px;
    height: 440px;
    position: absolute;
    z-index: 99;
}

#refresh {
    background-image: url(./img/botones/reiniciar.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    width: 200px;
    cursor: pointer;
    position: absolute;
    transition: 0.2s;
}

#refresh:hover {
    filter: brightness(1.2);
}